<div>
  <h2 id="page-heading" data-cy="TypeContratHeading">
    <span jhiTranslate="jobplatformApp.typeContrat.home.title">TypeContrats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="jobplatformApp.typeContrat.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-type-contrat"
        [routerLink]="['/type-contrat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jobplatformApp.typeContrat.home.createLabel">Créer un nouveau Type Contrat</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (typeContrats().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jobplatformApp.typeContrat.home.notFound">Aucun Type Contrat trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="jobplatformApp.typeContrat.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (typeContrat of typeContrats(); track trackId(typeContrat)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/type-contrat', typeContrat.id, 'view']">{{ typeContrat.id }}</a>
              </td>
              <td>{{ typeContrat.nom }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/type-contrat', typeContrat.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/type-contrat', typeContrat.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(typeContrat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
